html {
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    margin: 0;
    display: flex;
}

#left, #right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#left div, #right div, #vs {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

#right, #left div {
    background-color: #900;
    color: #eee;
}

#left, #right div {
    background-color: #eee;
    color: #900;
}

#vs {
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
